# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.DNPExamPreparation1.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Univeristy\Projects\SEM2_DNP\RiderProjects\DNP1ExamPreparation[293141]\DNPExamPreparation1\.idea\.idea.DNPExamPreparation1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
